.feeds-page {
  width: 100%;
  height: 100vh;
}

.feeds-nav {
  position: fixed;
  width: 100%;
  height: 6.5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.2);
}

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  text-decoration: none;
  margin-right: 7rem;
  font-size: 2.5rem;
  color: #9e9e9a;
}

.icons .active {
  color: #1aa1f5;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar i {
  font-size: 1.8rem;
}

.search-bar-input {
  width: 35rem;
  height: 3rem;
  border: 0.1rem solid #d6e1e9;
  border-radius: 3rem;
  background-color: #d6e1e9;
  padding-left: 5rem;
  transition: all 0.3s;
}

.search-bar-input:focus {
  background-color: #fff;
  border-color: #1aa1f5;
}

.search-bar > i {
  position: absolute;
  font-size: 1.6rem;
  left: 1.5rem;
  color: #9e9e9a;
}

.user-profile {
  display: flex;
  margin-left: 3rem;
  align-items: center;
  cursor: pointer;
}

.user-img-wrapper {
  width: 4rem;
  height: 4rem;
}

.user-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-name-link {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: #444;
}
.user-profile i {
  color: #444;
  font-size: 1.6rem;
}

/* feed content */
.feeds-content {
  display: grid;
  grid-template-columns: minmax(5rem, 1fr) 60rem 40rem minmax(5rem, 1fr);
  grid-template-rows: repeat(2, min-content);
  padding-top: 6.5rem;
}

.feeds-header {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: white;
  margin-top: 1.5rem;
}

.header-top {
  display: flex;

  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #eee;
  padding: 1.5rem;
}

.header-top h4 {
  font-size: 2.2rem;
}

.header-top i {
  font-size: 2rem;
  color: #1aa1f5;
}

.header-post {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.1rem solid #eee;
}

.header-img-wrapper {
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
}

.header-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.header-post input {
  width: 35rem;
  height: 3rem;
  border: 0.1rem solid #d6e1e9;
  border-radius: 3rem;
  background-color: #d6e1e9;
  padding: 0.4rem 1.5rem;
  transition: all 0.3s;
}

.header-post i {
  font-size: 2.5rem;
  color: #1aa1f5;
  margin: 1rem;
}

.header-post input:focus {
  background-color: #fff;
  border-color: #1aa1f5;
}

/* grid-row 2/3 도 맞는데 2/-1도 맞음 */
.feed-posts {
  grid-column: 2/3;
  grid-row: 2/-1;
  background-color: #fff;
}

.user-avatar-wrapper {
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  margin-right: 1.5rem;
}

.user-avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.post-img {
  width: 48rem;
  height: 30rem;
}

.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.post-user-info {
  display: flex;
  align-items: center;
}

.post {
  display: flex;
  padding: 1.5rem;
  border-bottom: 0.1rem solid #eee;
}

.post-user-info {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  margin: 1rem 0;
}

.post-user-info h4 {
  font-size: 1.6rem;
}

.post-user-info i {
  color: #1aa1f5;
  font-size: 1.6rem;
}

.post-user-info span,
.post-user-info p {
  font-size: 1.6rem;
}

.post-text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.post-icons {
  margin-top: 1rem;
}

.post-icons i {
  font-size: 1.8rem;
  color: #868383;
  margin-right: 6rem;
}

/* end of feed content */

/* feed follow */
.feed-follow {
  grid-column: 3/4;
  grid-row: 1/3;
  width: 85%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1rem;
  position: relative;
}

.feed-follow h3 {
  padding: 1rem;
  font-size: 1.8rem;
  border-bottom: 0.1rem solid #eee;
}

.follow-user {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.1rem solid #eee;
}

.follow-user .post-user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

/* 이렇게 해야함 */
.follow-button {
  font-size: 1.6rem;
  color: #1aa1f5;
  background-color: #fff;
  border: 0.1rem solid #1aa1f5;
  border-radius: 2rem;
  padding: 0.7rem 0.5rem;
  width: 9rem;
  margin-left: auto;
  cursor: pointer;
}

.feed-follow a {
  text-decoration: none;
  font-size: 1.5rem;
}

.follow-link {
  padding: 2rem 1rem;
}

.follow-link a {
  color: #1aa1f5;
}

.follow-footer {
  background-color: #f0f8fd;
}

.follow-footer ul {
  list-style: none;
  display: flex;
  gap: 0.7rem;
  margin-top: 2rem;
  padding-left: 1rem;
}

.follow-footer ul a {
  color: #868383;
}

.post-btn {
  position: fixed;
  bottom: 2rem;
  left: 68%;
  width: 12rem;
  padding: 1.5rem 1rem;
  background-color: #1aa1f5;
  color: #fff;
  font-size: 2rem;
  border: 0.1rem solid #1aa1f5;
  border-radius: 3rem;
  cursor: pointer;
  box-shadow: 0 0.3rem 1.2rem rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.post-btn:hover {
  background-color: #1187d1;
}

/* post modal */
.post-modal-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.post-modal-wrapper-display {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 60rem;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.5rem;
}

.modal-header {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #eee;
}

.modal-header i {
  font-size: 2.3rem;
  color: #1aa1f5;
  cursor: pointer;
}

.modal-header button {
  width: 8rem;
  padding: 0.8rem 0.5rem;
  background-color: #1aa1f5;
  border-radius: 2rem;
  border: 0.1rem solid #1aa1f5;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  opacity: 0.65;
}

.modal-image-wrapper {
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
  flex-shrink: 0;
}

.modal-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.modal-input {
  width: 53rem;
  padding: 1rem 0 8rem 1rem;
  background-color: #d6e1e9;
  border: 0.1rem solid #eee;
  border-radius: 1.5rem;
  font-size: 1.6rem;
}

.modal-input:focus {
  background-color: #fff;
  border-color: #1aa1f5;
}

.modal-body i {
  position: absolute;
  bottom: 7.8rem;
  right: 2.8rem;
  font-size: 2rem;
  color: #1aa1f5;
}

.modal-body {
  display: flex;
  padding: 2rem 1rem 1rem 1.5rem;
}

.modal-footer {
  padding: 0 2rem 2rem 7rem;
  font-size: 2rem;
}

.modal-icons {
  display: flex;
  align-items: center;
  color: #1aa1f5;
  gap: 1rem;
}

.modal-icons span {
  margin-left: auto;
  font-size: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border: 0.1rem solid #1aa1f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1aa1f5;
  cursor: pointer;
  opacity: 0.5;
}

/* end of post modal */

/* sidebar */
.sidebar-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.sidebar-wrapper-display {
  opacity: 1;
  visibility: visible;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -30rem;
  width: 30rem;
  height: 100vh;
  background-color: #fff;
  padding: 2.5rem;
  box-sizing: border-box;
  box-shadow: -0.3rem 0 1.8rem rgba(0, 0, 0, 0.2);
  transition: right 0.5s cubic-bezier(1, 0, 0, 1);
}

.sidebar-display {
  right: 0;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid #eee;
}

.sidebar-header h2 {
  font-size: 2rem;
}

.sidebar-header i {
  font-size: 2.5rem;
  color: #1aa1f5;
  margin-left: auto;
  cursor: pointer;
}

.sidebar-user {
  display: flex;
  align-items: center;
  padding: 1.5rem 0rem;
}

.sidebar-user-img {
  width: 4rem;
  height: 4rem;
}

.sidebar-user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar-user span {
  font-size: 5rem;
  margin-left: auto;
  width: 3.5rem;
  height: 3.5rem;
  border: 0.1rem solid #1aa1f5;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #1aa1f5;
  cursor: pointer;
}

.sidebar-user-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar-user-info h4 {
  font-size: 1.8rem;
}

.sidebar-user-info p {
  font-size: 1.8rem;
  padding-bottom: 3rem;
}

.sidebar-following {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  padding-bottom: 3rem;
}

.sidebar-following span {
  font-weight: bold;
}

.sidebar-list-1 {
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid #eee;
  padding-bottom: 2rem;
}

.sidebar-list-1 ul {
  list-style: none;
}

.sidebar-list-1 li {
  margin-bottom: 2rem;
}

.sidebar-list-1 i {
  font-size: 1.7rem;
  color: #868383;
  margin-right: 1rem;
}

.sidebar-list-1 a,
.sidebar-list-1 i {
  text-decoration: none;
  font-size: 1.6rem;
  color: #868383;
}

.sidebar-list-2 {
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.sidebar-list-2 ul {
  list-style: none;
}

.sidebar-list-2 li {
  margin-bottom: 2rem;
}

.sidebar-list-2 i {
  font-size: 1.7rem;
  color: #868383;
  margin-right: 1rem;
}

.sidebar-list-2 a,
.sidebar-list-2 i {
  text-decoration: none;
  font-size: 1.7rem;
  color: #868383;
}

/* end of sidebar */

/* darkmode */

.dark-mode {
  display: flex;
  align-items: center;
}

.dark-mode p {
  margin-right: 8rem;
  font-size: 1.6rem;
  color: #868383;
}

.dark-mode-toggle {
  width: 4.5rem;
  height: 1.5rem;
  background-color: #777;
  border-radius: 3rem;
  box-shadow: inset 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.circle {
  width: 2rem;
  height: 2rem;
  background-color: #ddd;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  transition: all 0.13s linear;
}

.move {
  left: 2.5rem;
  background-color: #117abb;
}

/* end of darkmode */

/* responsive */
@media (max-width: 1100px) {
  .search-bar-input {
    width: 30rem;
  }

  .feeds-content {
    grid-template-columns: minmax(5rem, 1fr) 2fr minmax(5rem, 1fr);
  }

  .feed-follow {
    display: none;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .header-post i {
    font-size: 2rem;
  }

  /* .feeds-header {
  }
  */

  .header-top h4 {
    font-size: 2rem;
  }

  .header-img-wrapper {
    width: 3.7rem;
    height: 3.7rem;
    margin-right: 0.8rem;
    flex-shrink: 0;
  }

  .icons a {
    margin-right: 3rem;
    font-size: 2rem;
  }

  .user-profile {
    margin-left: 2rem;
  }

  .user-img-wrapper {
    width: 3.5rem;
    height: 3.5rem;
  }
  .user-profile a,
  .user-profile i {
    font-size: 1.5rem;
  }
  .user-name-link {
    margin: 0 0.5rem;
  }

  .post-btn {
    left: 87%;
    width: 10rem;
    padding: 0.8rem 0rem;
    font-size: 1.5rem;
  }

  .user-avatar-wrapper {
    width: 5rem;
    height: 5rem;
  }

  .modal {
    width: 45rem;
    border-radius: 1.2rem;
  }
}

@media (max-width: 800px) {
  .search-bar-input {
    width: 18rem;
  }

  .post-btn {
    left: auto;
    right: 1.5rem;
    bottom: 1.5rem;
  }

  .user-avatar-wrapper {
    width: 4rem;
    height: 4rem;
  }

  .icons a {
    margin-right: 1.7rem;
    font-size: 2rem;
  }

  .user-profile {
    margin-left: 1.2rem;
  }

  .header-post input {
    width: 100%;
    flex-shrink: 1;
  }

  .post-img {
    width: 38rem;
    height: 25rem;
  }

  .post-icons i {
    font-size: 1.4rem;
    margin-right: 4rem;
  }

  .post-text {
    font-size: 1.4rem;
    flex-shrink: 2;
    width: 38rem;
  }

  .post {
    box-sizing: border-box;
  }

  .header-img-wrapper {
    flex-shrink: 0;
  }

  .modal-header i {
    font-size: 1.8rem;
  }

  .modal-header button {
    font-size: 1.4rem;
    width: 6.5rem;
    padding: 0.6rem 0.5rem;
  }

  .modal {
    width: 37rem;
  }

  .modal-input {
    width: 30rem;
    padding: 1.2rem 1.2rem 7.5rem 1.2rem;
    font-size: 1.4rem;
  }

  .modal-image-wrapper {
    margin-right: 0.5rem;
  }

  .modal-icons {
    gap: 0.5rem;
  }

  .modal-body i {
    bottom: 5.5rem;
    font-size: 1.6rem;
    right: 1.5rem;
  }

  .modal-icons i {
    font-size: 2rem;
  }

  .modal-icons span {
    font-size: 2.3rem;
    width: 2.3rem;
    height: 2.3rem;
  }

  .modal-footer {
    padding: 0.3rem 0.8rem 1.5rem 5rem;
  }

  .modal-body {
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  }

  .modal-header {
    padding: 1rem 1rem;
  }
}

@media (max-width: 600px) {
  .icons a {
    margin-right: 1.5rem;
    font-size: 1.7rem;
  }

  .search-bar-input {
    width: 12rem;
    padding-left: 3.5rem;
  }

  .post-img {
    width: 33rem;
    height: 20rem;
  }

  .post-text {
    width: 33rem;
  }

  .search-bar > i {
    left: 1rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .feeds-nav {
    height: 5.5rem;
  }

  .icons a {
    margin-right: 1.4rem;
    font-size: 1.8rem;
  }

  .search-bar-input {
    width: 11rem;
  }

  .user-name-link {
    display: none;
  }

  .feeds-content {
    grid-template-columns: 1fr;
    padding-top: 5.5rem;
  }

  .feeds-header,
  .feed-posts {
    grid-column: 1 / -1;
    margin-top: 0;
    border-radius: 0;
  }
  .feeds-header {
    margin-bottom: 1rem;
  }

  .post {
    padding: 1.2rem;
  }
  .user-avatar-wrapper {
    width: 3.5rem;
    height: 3.5rem;
  }

  .post-img {
    width: 100%;
    height: auto;

    margin-top: 1rem;
    border-radius: 0.5rem;
  }
  .post-text,
  .post-user-info h4,
  .post-user-info span,
  .post-user-info p {
    font-size: 1.4rem;
  }
  .post-icons i {
    margin-right: 1rem;
  }

  .post-btn {
    left: auto;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 7rem;
    height: 3.3rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    width: 30rem;
  }

  .modal-input {
    width: 28rem;
    padding: 1.2rem 1.2rem 7.5rem 1.2rem;
  }

  .modal-body i {
    bottom: 5.5rem;
    font-size: 1.6rem;
    right: 1rem;
  }

  .modal-icons i {
    font-size: 2rem;
  }

  .modal-icons span {
    font-size: 2.3rem;
    width: 2.3rem;
    height: 2.3rem;
  }
}

@media (max-width: 440px) {
  .header-post input {
    width: 15rem;
  }

  .icons a {
    margin-right: 1rem;
    font-size: 1.6rem;
  }

  .header-top h4 {
    font-size: 1.8rem;
  }

  .header-top i {
    font-size: 1.8rem;
  }

  .post-text {
    flex-shrink: 2;
    width: 26rem;
  }
  .header-post i {
    font-size: 1.6rem;
    margin: 0.7rem;
  }
}

/* end of responsive */
