.feeds-page {
  width: 100%;
  height: 100vh;
}

.feeds-nav {
  position: fixed;
  width: 100%;
  height: 6.5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.2);
}

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  text-decoration: none;
  margin-right: 7rem;
  font-size: 2.5rem;
  color: #9e9e9a;
}

.icons .active {
  color: #1aa1f5;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar i {
  font-size: 1.8rem;
}

.search-bar-input {
  width: 35rem;
  height: 3rem;
  border: 0.1rem solid #d6e1e9;
  border-radius: 3rem;
  background-color: #d6e1e9;
  padding-left: 5rem;
  transition: all 0.3s;
}

.search-bar-input:focus {
  background-color: #fff;
  border-color: #1aa1f5;
}

.search-bar > i {
  position: absolute;
  font-size: 1.6rem;
  left: 1.5rem;
  color: #9e9e9a;
}

.user-profile {
  display: flex;
  margin-left: 3rem;
  align-items: center;
  cursor: pointer;
}

.user-img-wrapper {
  width: 4rem;
  height: 4rem;
}

.user-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-name-link {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: #444;
}
.user-profile i {
  color: #444;
  font-size: 1.6rem;
}

/* feed content */
.feeds-content {
  display: grid;
  grid-template-columns: minmax(5rem, 1fr) 60rem 40rem minmax(5rem, 1fr);
  grid-template-rows: repeat(2, min-content);
  padding-top: 6.5rem;
}

.feeds-header {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: white;
  margin-top: 1.5rem;
}

.header-top {
  display: flex;

  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #eee;
  padding: 1.5rem;
}

.header-top h4 {
  font-size: 2.2rem;
}

.header-top i {
  font-size: 2rem;
  color: #1aa1f5;
}

.header-post {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.1rem solid #eee;
}

.header-img-wrapper {
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
}

.header-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.header-post input {
  width: 35rem;
  height: 3rem;
  border: 0.1rem solid #d6e1e9;
  border-radius: 3rem;
  background-color: #d6e1e9;
  padding: 0.4rem 1.5rem;
  transition: all 0.3s;
}

.header-post i {
  font-size: 2.5rem;
  color: #1aa1f5;
  margin: 1rem;
}

.header-post input:focus {
  background-color: #fff;
  border-color: #1aa1f5;
}

.feed-posts {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: green;
  height: 30rem;
}

/* end of feed content */
