.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.login-page-nav {
  background-color: #fff;
  padding: 2.5rem 0;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
}

.login-page-nav ul {
  width: 100rem;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.login-page-nav li {
  margin: 0 1rem;
  position: relative;
}

/* 
  가상요소 
  그래서 렌더링할 때 부모 기준 배치 가능함 (li)
*/
.login-page-nav li::after {
  content: '';
  width: 100%;
  height: 0.4rem;
  background-color: #1aa1f5;
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.login-page-nav li:hover::after {
  opacity: 1;
}

.login-page-nav li:hover a {
  color: #1aa1f5;
}

.login-page-nav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #555;
  transition: color 0.3s;
}

.login-page-nav i {
  color: #1aa1f5;
  font-size: 2rem;
}

/* 남은 공간 전부 left로 */
.login-page-nav li:last-child {
  margin-left: auto;
}

.login {
  background-color: green;
}
