.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.login-page-nav {
  width: 100%;
  background-color: #fff;
  padding: 2.5rem 0;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
}

.login-page-nav ul {
  margin: 0 auto;
  width: 100rem;
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.login-page-nav li {
  margin: 0 1rem;
  position: relative;
}

/* 
  가상요소 
  그래서 렌더링할 때 부모 기준 배치 가능함 (li)
*/
.login-page-nav li::after {
  content: '';
  height: 0.4rem;
  background-color: #1aa1f5;
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.login-page-nav li:hover::after {
  opacity: 1;
}

.login-page-nav li:hover a {
  color: #1aa1f5;
}

.login-page-nav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #555;
  transition: color 0.3s;
}

.login-page-nav i {
  color: #1aa1f5;
  font-size: 2rem;
  padding-right: 0.3rem;
}

/* 남은 공간 전부 left로 */
.login-page-nav li:last-child {
  margin-left: auto;
}

.login {
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.1);
  display: grid;
  /* grid-template-columns: 10rem 3fr; */
  /* grid-template-rows: 2fr 1fr; */
  gap: 2rem;
  width: 100rem;
  grid-template-areas:
    'content content'
    'footer footer';
}

.login-content {
  margin: 5.1rem 10rem 1rem 10rem;
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.login-content h2 {
  font-size: 2.4rem;
}

.login-content form {
  gap: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

.login-form div {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.login-form > input {
  padding: 0 1rem;
  height: 3.5rem;
  font-size: 1.5rem;
  width: 30rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: background-color 0.3s;
}

.login-form > input:focus {
  background-color: #e4f0f8;
}

.login-form-button {
  background-color: #1aa1f5;
  border-radius: 2rem;
  border: 0.1rem solid #1aa1f5;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 1.6rem 1rem 1.6rem;
  margin-right: 1.4rem;
}

.login-form-checkbox {
  margin-right: 0.2rem;
}

.login-form-checkbox + label {
  font-weight: 300;
  margin-right: 1.4rem;
}

.login a {
  text-decoration: none;
  color: #1aa1f5;
}

.login-footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #edf3f7;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.6rem;
}

.login-footer p {
  font-weight: 330;
  color: #555;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
