.main-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    'left right'
    'footer footer';
}

.left {
  grid-area: left;
  background-color: #1aa1f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4rem;
  color: #fff;
}

.left-content i {
  font-size: 3rem;
  margin-right: 2rem;
}

.left-content-heading {
  font-size: 2rem;
}

/* right */
.right {
  grid-area: right;
  position: relative;
}

.right-content-form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
}

/*
  label에 absolute 주는 순간, right-content-form 자체가 flex인데
  flex 안에 그 compoenent 배제됨.
  div가 label의 새로운 위치 기준점이 되어버린다.
*/
.right-content-form div {
  position: relative;
}

.right-content-form label {
  position: absolute;
  top: 5.8rem;
  left: 0;
  font-size: 1.6rem;
  font-weight: 300;
  color: #a7a6a6;
}

.right-content-form input {
  width: 20rem;
  height: 4.5rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: background-color 0.3s;
}

.right-content-form input:focus {
  background-color: #e4f0f8;
}

/* 
앞으로 .btn-top 백그라운드 컬러 바뀌면 즉시 바꾸지 말구
0.3초에 걸쳐서 서서히 바꿔줘~
  */
.btn-top {
  width: 8rem;
  background-color: #fff;
  color: #1aa1f5;
  border: 0.1rem solid #1aa1f5;
  border-radius: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-top:hover {
  background-color: #d9ebf7;
}

/*
  absolute해서 원하는 포지션 정하기 전에,
  상위 컴포넌트(right)의 position을 relative로 정해야 한다.
  translate(-50%, -50%) 자기 자신 너비의 50%만큼 왼쪽, 위로 이동
*/
.middle-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 40%;
}

.middle-content i {
  font-size: 4rem;
  color: #1aa1f5;
  margin-bottom: 2rem;
}

.middle-content h1 {
  font-size: 2.8rem;
  margin-bottom: 4rem;
  line-height: 4rem;
}

.middle-content h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.middle-content button {
  font-size: 1.6rem;
  margin: 0.8rem 0;
  padding: 0.5rem;
  border: 0.1rem solid #1aa1f5;
  border-radius: 4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-up {
  background-color: #1aa1f5;
  color: white;
}

.sign-up:hover {
  background-color: #0f5d8d;
}

.log-in {
  background-color: #fff;
}

.log-in:hover {
  background-color: #d9ebf7;
}

/* end of right */

/* footer */
.main-page-footer {
  grid-area: footer;
  background-color: #f5f4f4;
  padding: 1.5rem;
  border-top: 0.1rem solid #ddd;
}
.main-page-footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.main-page-footer a {
  font-size: 1.6rem;
  margin: 0 2rem;
  text-decoration: none;
  color: #444;
  font-weight: 350;
}
/* end of footer */
