.main-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content;
}

.left {
  background-color: #1aa1f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  color: #fff;
}

.left-content i {
  font-size: 2rem;
  margin-right: 2rem;
}

.left-content-heading {
}
